.idea/
.vscode/
node_modules/
config/
build/
src/db
logs/**/*.log 
src/router/
src/router/*/*/*.ts
src/resource/
src/resource/*/*/*.ts
src/entity/entities/*.ts
src/entity/*/*/*.ts
src/context/
src/context/*/*/*.ts
tmp/
temp/
src/entity/tsconfig.json
src/entity/ormconfig.json
a